<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>

<h1>Products add in Cart </h1>




{% block content %}

<div class="cart" >
    <h2>Cart</h2>
    <ul>
        {% for item in card.products.all %}

        <form action="{% url 'delete_item_card' item.id %}" method="POST">
            {% csrf_token %}
            <li>{{ item.name }} - {{ item.price }} usd</li>
                <button type="submit" class="btn btn-primary">delete </button>
        </form>
        {% endfor %}
    </ul>
    <p>Total: {{ card.total_price }} usd</p>

    <form action="{% url 'my_orders' %}" method="POST">
        {% csrf_token %}
        <h3>Scheckoutr</h3>

        <label for="delivey">Delivery Address</label>
        <input type="text" placeholder="Delivery Address" name="delivery_addres" id="delivery_addres">
        <button type="submit" class="btn btn-primary">Order</button>

    </form>

</div>

{% endblock %}



</body>
</html>