<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<h1>CATEGORY PRODUCTS</h1>
{% block content %}

    {% for category in category %}
        <h2>{{ category.name }}</h2>
        <ul>

                <form action="" method="POST">
                {% csrf_token %}

                    <a href="{% url 'view_category' category.id %}">Viwe</a><br>
                    <br>

                </form>

        </ul>
    {% endfor %}
{% endblock %}
</body>
</html>