<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>

<h1>Products Page</h1>

{% block content %}
  <ul>
  {% if products%}
    {% for product in products %}
      <form action="{% url 'add_to_cart' product.id %}" method="POST">
        {% csrf_token %}
          <li>{{ product.name }} - {{ product.price }}</li>
          <a href="{% url 'viwe_product' product.id %}">Viwe</a><br>
          <br>
            <button type="submit" class="btn btn-primary">add product</button>
      </form>
    {% endfor %}
    {% else%}
      <p> Product not found</p>
  {% endif %}
  </ul>




<div class="cart" >
    <h2>Cart</h2>
    <ul>
        {% for item in cart.items.all %}
        <li>{{ item.product.name }} - {{ item.product.price }} usd. x {{ item.quantity }}</li>
        {% endfor %}
    </ul>
    <p>Total: {{ cart.total_price }} usd</p>
</div>

{% endblock %}



</body>
</html>